@tailwind base;
@tailwind components;
@tailwind utilities;

.logo:hover {
  transition: all 0.2s;
  transform: scale(1.3);
}

.bg-image {
  height: 40rem;
}

.logo {
  transition: all 0.2s;
}

.button:hover {
  transition: all 0.2s;
  transform: scale(1.1);
}

.button {
  transition: all 0.2s;
}

@media (min-width: 1024px) {
  .logo:hover {
    transition: all 0.2s;
    height: 7rem;
  }
}

h1,
h2,
#introduction {
  text-shadow: 2px 2px 7px black;
  animation-duration: 2.5s;
  animation-name: slideright;
}

@keyframes slideright {
  from {
    width: 300%;
    opacity: 10%;
  }

  to {
    width: 100%;
    opacity: 100%;
  }
}

.logo {
  animation-duration: 4s;
  animation-name: appear;
}

@keyframes appear {
  from {
    opacity: 0%;
  }

  to {
    opacity: 100%;
  }
}
